@{
    ViewBag.Title = "Home Page";
}

<section id="news-list">
    <div class="wrapper">
        <div class="content-holder flexbox between">

            <div class="news-content">
                <div class="news-list">

                    <div class="news">
                        <div class="img">
                            <img src="Content/Images/ce84414e-19d9-4506-be28-081821f4e59d_xmen706.jpg"
                                 alt="Code Academy 3 illiyini qeyd etdi" />
                        </div>
                        <div class="desc flexbox middle">
                            <div class="content">
                                <a href="news/code-academy-3-illiyini-qeyd-etdi.html">
                                    <p>
                                        Code Academy 3 illiyini qeyd etdi
                                    </p>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="news">
                        <div class="img">
                            <img src="Content/Images/779bbd4d-459c-45ba-9181-3e4fc0fcaa50_uxalive1706.jpg"
                                 alt="Dizaynerlərimiz UXAlive tədbirində!" />
                        </div>
                        <div class="desc flexbox middle">
                            <div class="content">
                                <a href="news/dizaynerlerimiz-uxalive-de.html">
                                    <p>
                                        Dizaynerlərimiz UXAlive tədbirində!
                                    </p>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="news">
                        <div class="img">
                            <img src="Content/Images/817779d0-bb31-4c90-b9fa-f1123c045313_karyera_yarimarkasi.jpg"
                                 alt="Code Academy-nin Karyera Mərkəzinin rəhbəri Leyla Seyidzadənin və proqram məsləhət&#231;isi Nərgiz Ramazanova “ADA” Universitetindəki “Karyera yarmarkası”nda" />
                        </div>
                        <div class="desc flexbox middle">
                            <div class="content">
                                <a href="news/code-academy-ada-universitetinde-teskil-olunmus-karyera-yarmarkasinda-istirak-etdi.html">
                                    <p>
                                        Code Academy ADA universitetində təşkil olunmuş &quot;Karyera yarmarkası&quot;nda iştirak etdi
                                    </p>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="news">
                        <div class="img">
                            <img src="Content/Images/6eaa88c4-1208-4c96-aad9-5e743594e43e__SLO9449%20copy.jpg"
                                 alt="Knyaz-Yaqublu-ACE-adi-qazandi" />
                        </div>
                        <div class="desc flexbox middle">
                            <div class="content">
                                <a href="news/knyaz-yagublu-adobe-certified-expert-adi-aldi.html">
                                    <p>
                                        Knyaz Yaqublu Adobe Certified Expert adını qazandı
                                    </p>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="news">
                        <div class="img">
                            <img src="Content/Images/2c99fe59-555a-42b9-9ca2-eb8dff8340fa_zaur-ismayilov-ulvi-aslanov-sazis-imzalama706.jpg"
                                 alt="Digital marketinq sahəsindəki son yenilikləri tətbiq etmək &#252;&#231;&#252;n “Havas Media Azərbaycan” reklam agentliyi  ilə niyyət protokolu imzaladıq" />
                        </div>
                        <div class="desc flexbox middle">
                            <div class="content">
                                <a href="news/digital-marketing-uzre-yenilikleri-tetbiq-etmek-niyyetindeyik.html">
                                    <p>
                                        Digital marketinq sahəsindəki son yenilikləri tətbiq etmək &#252;&#231;&#252;n “Havas Media Azərbaycan” reklam agentliyi  ilə niyyət protokolu imzaladıq
                                    </p>
                                </a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="events-list">
                <div class="mobile-events-handler">
                    <div class="wrapper">
                        <i class="fa fa-calendar" aria-hidden="true"></i>
                        <span>Təqvim və yeniliklər</span>
                        <i class="fa arrow fa-caret-down" aria-hidden="true"></i>
                    </div>
                </div>

                <div class="news-holder">
                    <div class="all-news">

                        <div class="news">
                            <a href="news/code-academy-3-illiyini-qeyd-etdi.html">
                                <h1>YENİLİKLƏR - 03 İYUL</h1>
                                <p>Code Academy 3 illiyini qeyd etdi</p>
                            </a>
                        </div>
                        <div class="news">
                            <a href="news/proqramlasdirma-telebelerimiz-ilk-sertifikatlarini-qazandilar.html">
                                <h1>YENİLİKLƏR - 21 İYUN</h1>
                                <p>Proqramlaşdırma tələbələrimiz ilk sertifikatlarını qazandılar</p>
                            </a>
                        </div>
                        <div class="news">
                            <a href="news/dizaynerlerimiz-uxalive-de.html">
                                <h1>YENİLİKLƏR - 04 MAY</h1>
                                <p>Dizaynerlərimiz UXAlive-da!</p>
                            </a>
                        </div>
                        <div class="news">
                            <a href="news/code-academy-ada-universitetinde-teskil-olunmus-karyera-yarmarkasinda-istirak-etdi.html">
                                <h1>YENİLİKLƏR - 02 MART</h1>
                                <p>Code Academy ADA universitetində təşkil olunmuş &quot;Karyera yarmarkası&quot;nda iştirak etdi</p>
                            </a>
                        </div>
                        <div class="news">
                            <a href="news/knyaz-yagublu-adobe-certified-expert-adi-aldi.html">
                                <h1>YENİLİKLƏR - 06 OKTYABR</h1>
                                <p>Azərbaycanlı dizayner Adobe Certified Expert sertifikatına yiyələnib</p>
                            </a>
                        </div>
                        <div class="news">
                            <a href="events/infosessiyalar/professional-diploma-in-digital-marketing.html">
                                <h1>TƏQVİM - 27 İYUL</h1>
                                <p>Professional Diploma in Digital Marketing</p>
                            </a>
                        </div>
                        <div class="news">
                            <a href="events/infosessiyalar/digital-marketinqle-tanisliq.html">
                                <h1>TƏQVİM - 02 APREL</h1>
                                <p>Digital Marketinqlə tanışlıq</p>
                            </a>
                        </div>
                        <div class="news">
                            <a href="events/infosessiyalar/qrafik-veb-3d-dizayn-modellesdirme.html">
                                <h1>TƏQVİM - 01 APREL</h1>
                                <p>Veb dizayn, qrafika və 3D modelləşdirmə ilə tanışlıq</p>
                            </a>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</section>